@font-face {
  font-family: 'shrikhand';
  src: url("../fonts/Shrikhand-Regular.eot");
  src: url("../fonts/Shrikhand-Regular.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'robotoregular';
  src: url("../fonts/Roboto-Regular-webfont.eot");
  src: url("../fonts/Roboto-Regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-Regular-webfont.woff") format("woff"), url("../fonts/Roboto-Regular-webfont.ttf") format("truetype"), url("../fonts/Roboto-Regular-webfont.svg#robotoregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

html {
  font-size: 18px;
}

@media screen and (orientation: portrait) {
  html {
    font-size: 30px;
  }
}

body {
  font-family: 'robotoregular', Arial, Helvetica, sans-serif;
  margin: 0;
}

@media screen and (orientation: portrait) {
  body {
    width: 100%;
    margin: 0;
  }
}

header {
  width: 100%;
  -webkit-box-shadow: 0 8px 10px grey;
          box-shadow: 0 8px 10px grey;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header svg {
  margin-left: 50%;
  margin-top: 40%;
  fill: black;
  height: 50px;
  width: 50px;
}

header svg:hover {
  fill: #9356DC;
}

h1 {
  font-family: 'shrikhand', Arial, Helvetica, sans-serif;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  padding-top: 1%;
  padding-bottom: 1%;
  margin-bottom: 0;
  /* sets font size and icons size adapts automatically */
  font-size: 3rem;
}

h1 .ico {
  display: inline-block;
  vertical-align: middle;
  height: 4.5rem;
  width: 4.5rem;
}

svg {
  fill: currentColor;
}

nav {
  background-color: white;
  border-top: 2px solid #9356DC;
  border-bottom: 2px solid #9356DC;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  /* sets font size and icons size adapts automatically */
  font-size: 1rem;
}

@media screen and (orientation: portrait) {
  nav {
    display: none;
  }
}

nav .ico {
  display: inline-block;
  vertical-align: middle;
  height: 1.5rem;
  width: 1.5rem;
}

nav h2 {
  padding-left: 2%;
  margin: 1%;
  /* sets font size and icons size adapts automatically */
  font-size: 1.5rem;
}

nav h2 .ico {
  display: inline-block;
  vertical-align: middle;
  height: 2.25rem;
  width: 2.25rem;
}

nav ol {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0;
  width: 80%;
  height: 100%;
  margin: 1%;
}

nav li {
  display: inline-block;
  padding: 1% 1%;
  width: 275px;
  white-space: nowrap;
}

nav li span {
  display: inline-block;
  margin-right: 5%;
  background-color: #9356DC;
  border-radius: 50%;
  text-align: center;
  height: 1.5rem;
  width: 1.5rem;
  color: white;
}

nav .--activestep {
  background-color: #e4d5f6;
  border-radius: 1rem;
}

nav .--activestep svg {
  fill: #9356DC;
}

.bg {
  margin-top: 0;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
}

@media screen and (orientation: portrait) {
  .bg {
    background-size: 100%;
    padding-top: 58%;
  }
}

.bg--menu1 {
  background-image: url(../images/la_palette_du_gout_full.jpg);
}

@media screen and (orientation: portrait) {
  .bg--menu1 {
    background-image: url(../images/la_palette_du_gout_resize.jpg);
  }
}

.bg--menu2 {
  background-image: url(../images/la_note_enchantee_full.jpg);
}

@media screen and (orientation: portrait) {
  .bg--menu2 {
    background-image: url(../images/la_note_enchantee_resize.jpg);
  }
}

.bg--menu3 {
  background-image: url(../images/a_la_francaise_full.jpg);
}

@media screen and (orientation: portrait) {
  .bg--menu3 {
    background-image: url(../images/a_la_francaise_resize.jpg);
  }
}

.bg--menu4 {
  background-image: url(../images/le_delice_des_sens_full.jpg);
}

@media screen and (orientation: portrait) {
  .bg--menu4 {
    background-image: url(../images/le_delice_des_sens_resize.jpg);
  }
}

main {
  padding-top: 3%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

main h2 {
  font-family: 'shrikhand', Arial, Helvetica, sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: white;
  border-radius: 5rem;
  padding: 1% 5%;
  /* sets font size and icons size adapts automatically */
  font-size: 2rem;
  width: 50%;
  margin-right: 20%;
  margin-left: 20%;
}

main h2 .ico {
  display: inline-block;
  vertical-align: middle;
  height: 3rem;
  width: 3rem;
}

@media screen and (orientation: portrait) {
  main h2 {
    width: 100%;
    margin: 0;
    padding-top: 5%;
  }
}

main h2 .ico {
  height: 40px;
  width: 40px;
}

section {
  width: 30%;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 1em;
}

section h3 {
  /* sets font size and icons size adapts automatically */
  font-size: 1.5rem;
  text-align: center;
  text-transform: uppercase;
  font-weight: normal;
}

section h3 .ico {
  display: inline-block;
  vertical-align: middle;
  height: 2.25rem;
  width: 2.25rem;
}

section h3 span {
  border-bottom: 3px solid #99E2D0;
}

@media screen and (orientation: portrait) {
  section h3 {
    margin-left: 7%;
    text-align: left;
  }
}

@media screen and (orientation: portrait) {
  section {
    width: 100%;
  }
}

article {
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  height: 100px;
  margin: 5%;
  border-radius: 1em;
  padding-left: 5%;
}

@media screen and (orientation: portrait) {
  article {
    height: 150px;
    -webkit-box-shadow: 0px 0px 20px 4px lightgrey;
            box-shadow: 0px 0px 20px 4px lightgrey;
  }
}

article .desc {
  width: 85%;
}

article .desc h4,
article .desc p {
  margin-top: 1rem;
  margin-bottom: 1rem;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

article em {
  display: inline-block;
  width: 15%;
  font-style: normal;
}

article .--picked {
  display: none;
}

article .ico {
  fill: white;
  width: 35px;
  height: 35px;
  margin: auto;
}

article:hover {
  background: white;
}

article:hover .--picked {
  display: inherit;
  width: 15%;
  height: 100%;
  background: #99E2D0;
}

article:hover .desc {
  width: 70%;
}

.btn {
  display: inline-block;
  margin-top: 5%;
  margin-bottom: 5%;
  color: white;
  cursor: pointer;
  /* sets font size and icons size adapts automatically */
  font-size: 1.5rem;
  padding: 1rem 1.5rem;
  border-radius: 5rem;
  background: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), to(#9356DC));
  background: linear-gradient(#FF79DA, #9356DC);
}

.btn .ico {
  display: inline-block;
  vertical-align: middle;
  height: 2.25rem;
  width: 2.25rem;
}

footer {
  background-color: #353535;
  color: white;
  padding: 1% 1% 1% 3%;
  /* sets font size and icons size adapts automatically */
  font-size: 1rem;
}

footer .ico {
  display: inline-block;
  vertical-align: middle;
  height: 1.5rem;
  width: 1.5rem;
}

footer a {
  text-decoration: none;
  color: white;
}

footer h2 {
  font-family: 'shrikhand', Arial, Helvetica, sans-serif;
  font-style: normal;
  /* sets font size and icons size adapts automatically */
  font-size: 2rem;
}

footer h2 .ico {
  display: inline-block;
  vertical-align: middle;
  height: 3rem;
  width: 3rem;
}

footer ul {
  padding-left: 0;
}

footer li {
  list-style-type: none;
  padding: 8px;
}
/*# sourceMappingURL=menu.css.map */