    @font-face {
        font-family: 'shrikhand';
        src: url('../fonts/Shrikhand-Regular.eot');
        src: url('../fonts/Shrikhand-Regular.otf') format('truetype');
        font-weight: normal;
        font-style: normal;
    }
    
    @font-face {
        font-family: 'robotoregular';
        src: url('../fonts/Roboto-Regular-webfont.eot');
        src: url('../fonts/Roboto-Regular-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/Roboto-Regular-webfont.woff') format('woff'), url('../fonts/Roboto-Regular-webfont.ttf') format('truetype'), url('../fonts/Roboto-Regular-webfont.svg#robotoregular') format('svg');
        font-weight: normal;
        font-style: normal;
    }
    
    $clr-primary: #9356DC;
    $clr-secondary: #FF79DA;
    $clr-tertiary: #99E2D0;
    $clr-footer: #353535;
    @mixin content-size($size) {
        /* sets font size and icons size adapts automatically */
        font-size: $size;
        .ico {
            display: inline-block;
            vertical-align: middle;
            height: $size*1.5;
            width: $size*1.5;
        }
    }
    
    @mixin mobile-only {
        @media screen and (orientation: portrait) {
            @content;
        }
    }
    
    html {
        font-size: 18px;
        @include mobile-only() {
            font-size: 30px;
        }
    }
    
    body {
        font-family: 'robotoregular', Arial, Helvetica, sans-serif;
        margin: 0;
        @include mobile-only() {
            width: 100%;
            margin: 0;
        }
    }
    
    header {
        width: 100%;
        box-shadow: 0 8px 10px grey;
        display: flex;
        svg {
            margin-left: 50%;
            margin-top: 40%;
            fill: black;
            height: 50px;
            width: 50px;
            &:hover {
                fill: $clr-primary;
            }
        }
    }
    
    h1 {
        font-family: 'shrikhand', Arial, Helvetica, sans-serif;
        margin-left: auto;
        margin-right: auto;
        margin-top: 0;
        padding-top: 1%;
        padding-bottom: 1%;
        margin-bottom: 0;
        @include content-size(3rem);
    }
    
    svg {
        fill: currentColor;
    }
    
    nav {
        @include mobile-only() {
            display: none;
        }
        background-color: white;
        border-top: 2px solid $clr-primary;
        border-bottom: 2px solid $clr-primary;
        display: flex;
        align-items: center;
        justify-content: start;
        @include content-size(1rem);
        h2 {
            padding-left: 2%;
            margin: 1%;
            @include content-size(1.5rem);
        }
        ol {
            display: flex;
            justify-content: space-between;
            padding: 0;
            width: 80%;
            height: 100%;
            margin: 1%;
        }
        li {
            display: inline-block;
            padding: 1% 1%;
            width: 275px;
            white-space: nowrap;
            span {
                display: inline-block;
                margin-right: 5%;
            }
        }
        .--activestep {
            color: white;
            background: linear-gradient($clr-secondary, $clr-primary);
            border-radius: 1rem;
        }
    }
    
    .bg {
        margin-top: 0;
        background-size: cover;
        background-repeat: no-repeat;
        text-align: center;
        @include mobile-only() {
            background-size: 100%;
            padding-top: 58%;
        }
    }
    
    .bg--menu1 {
        background-image: url(../images/la_palette_du_gout_full.jpg);
        @include mobile-only() {
            background-image: url(../images/la_palette_du_gout_resize.jpg);
        }
    }
    
    .bg--menu2 {
        background-image: url(../images/la_note_enchantee_full.jpg);
        @include mobile-only() {
            background-image: url(../images/la_note_enchantee_resize.jpg);
        }
    }
    
    .bg--menu3 {
        background-image: url(../images/a_la_francaise_full.jpg);
        @include mobile-only() {
            background-image: url(../images/a_la_francaise_resize.jpg);
        }
    }
    
    .bg--menu4 {
        background-image: url(../images/le_delice_des_sens_full.jpg);
        @include mobile-only() {
            background-image: url(../images/le_delice_des_sens_resize.jpg);
        }
    }
    
    main {
        padding-top: 3%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        h2 {
            font-family: 'shrikhand', Arial, Helvetica, sans-serif;
            display: flex;
            justify-content: space-between;
            align-items: center;
            background: white;
            border-radius: 5rem;
            padding: 1% 5%;
            @include content-size(2rem);
            width: 50%;
            margin-right: 20%;
            margin-left: 20%;
            @include mobile-only() {
                width: 100%;
                margin: 0;
                padding-top: 5%;
            }
            .ico {
                height: 40px;
                width: 40px;
            }
        }
    }
    
    section {
        width: 30%;
        background: rgba(white, .5);
        border-radius: 1em;
        h3 {
            @include content-size(1.5rem);
            text-align: center;
            text-transform: uppercase;
            font-weight: normal;
            span {
                border-bottom: 3px solid $clr-tertiary;
            }
            @include mobile-only() {
                margin-left: 7%;
                text-align: left;
            }
        }
        @include mobile-only() {
            width: 100%;
        }
    }
    
    article {
        text-align: left;
        display: flex;
        justify-content: space-between;
        align-items: center;
        overflow: hidden;
        height: 100px;
        margin: 5%;
        border-radius: 1em;
        padding-left: 5%;
        @include mobile-only() {
            height: 150px;
            box-shadow: 0px 0px 20px 4px lightgrey;
        }
        .desc {
            width: 85%;
            h4,
            p {
                margin-top: 1rem;
                margin-bottom: 1rem;
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
            }
        }
        em {
            display: inline-block;
            width: 15%;
            font-style: normal;
        }
        .--picked {
            display: none;
        }
        .ico {
            fill: white;
            width: 35px;
            height: 35px;
            margin: auto;
        }
        &:hover {
            background: white;
            .--picked {
                display: inherit;
                width: 15%;
                height: 100%;
                background: $clr-tertiary;
            }
            .desc {
                width: 70%;
            }
        }
    }
    
    .btn {
        display: inline-block;
        margin-top: 5%;
        margin-bottom: 5%;
        color: white;
        cursor: pointer;
        @include content-size(1.5rem);
        padding: 1rem 1.5rem;
        border-radius: 5rem;
        background: linear-gradient($clr-secondary, $clr-primary);
    }
    
    footer {
        background-color: $clr-footer;
        color: white;
        padding: 1% 1% 1% 3%;
        @include content-size(1rem);
        a {
            text-decoration: none;
            color: white;
        }
        h2 {
            font-family: 'shrikhand', Arial, Helvetica, sans-serif;
            font-style: normal;
            @include content-size(2rem);
        }
        ul {
            padding-left: 0;
        }
        li {
            list-style-type: none;
            padding: 8px;
        }
    }