@font-face {
    font-family: 'shrikhand';
    src: url('../fonts/Shrikhand-Regular.eot');
    src: url('../fonts/Shrikhand-Regular.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'robotoregular';
    src: url('../fonts/Roboto-Regular-webfont.eot');
    src: url('../fonts/Roboto-Regular-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/Roboto-Regular-webfont.woff') format('woff'), url('../fonts/Roboto-Regular-webfont.ttf') format('truetype'), url('../fonts/Roboto-Regular-webfont.svg#robotoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

$clr-primary: #9356DC;
$clr-secondary: #FF79DA;
$clr-tertiary: #99E2D0;
$clr-footer: #353535;
@mixin content-size($size) {
    /* sets font size and icons size adapts automatically */
    font-size: $size;
    .ico {
        display: inline-block;
        vertical-align: middle;
        height: $size*1.5;
        width: $size*1.5;
    }
}

@mixin mobile-only {
    @media screen and (orientation: portrait) {
        @content;
    }
}

html {
    font-size: 18px;
    @include mobile-only() {
        font-size: 30px;
    }
}

body {
    font-family: 'robotoregular', Arial, Helvetica, sans-serif;
    margin: 0;
}

header {
    width: 100%;
    height: 10%;
    box-shadow: 0 8px 10px grey;
}

h1 {
    font-family: 'shrikhand', Arial, Helvetica, sans-serif;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 1%;
    padding-bottom: 1%;
    @include content-size(3rem);
}

svg {
    fill: currentColor;
}

section {
    display: flex;
    flex-direction: column-reverse;
    @include mobile-only() {
        flex-direction: column;
    }
}

.intro {
    text-align: center;
    margin-bottom: 10%;
    h2 {
        @include content-size(3.5rem);
        margin: 5%;
        @include mobile-only() {
            @include content-size(2rem);
        }
    }
    p {
        @include content-size(2rem);
        font-weight: bold;
        margin: 5%;
        @include mobile-only() {
            @include content-size(1rem);
            font-weight: normal;
        }
    }
}

.btn {
    margin: 5%;
    display: inline-block;
    color: white;
    cursor: pointer;
    @include content-size(1.5rem);
    padding: 1.85rem 3rem;
    border-radius: 10rem;
    background: linear-gradient($clr-secondary, $clr-primary);
    &:hover {
        background: linear-gradient(lighten($clr-secondary, 5), lighten($clr-primary, 5));
    }
    @include mobile-only() {
        @include content-size(1.2rem);
        padding: 1.3rem 2rem;
    }
}

nav {
    background-color: white;
    border-top: 2px solid $clr-primary;
    border-bottom: 2px solid $clr-primary;
    display: flex;
    align-items: center;
    justify-content: start;
    @include content-size(1rem);
    @include mobile-only() {
        border: none;
        flex-direction: column;
    }
    h2 {
        padding-left: 2%;
        margin: 1%;
        @include content-size(1.5rem);
        @include mobile-only() {
            align-self: flex-start;
        }
    }
    ol {
        display: flex;
        justify-content: space-between;
        padding: 0;
        width: 80%;
        height: 100%;
        margin: 1%;
        @include mobile-only() {
            flex-direction: column;
            align-items: center;
            width: 100%;
        }
    }
    li {
        display: inline-block;
        padding: 1% 1%;
        width: 275px;
        white-space: nowrap;
        span {
            display: inline-block;
            margin-right: 5%;
            background-color: $clr-primary;
            border-radius: 50%;
            text-align: center;
            height: 1.5rem;
            width: 1.5rem;
            color: white;
        }
        @include mobile-only() {
            width: 70%;
            box-shadow: 0px 0px 20px 4px lightgrey;
            padding: 1.5rem 2rem;
            border-radius: 1.5rem;
            margin: 2%;
            font-weight: bold;
            span {
                background-color: $clr-primary;
                border-radius: 50%;
                text-align: center;
                height: 1.5rem;
                width: 1.5rem;
                color: white;
                font-weight: normal;
                position: absolute;
                left: 6%;
            }
        }
    }
    .--activestep {
        background-color: lighten($clr-primary, 30);
        border-radius: 1rem;
        svg {
            fill: $clr-primary;
        }
    }
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 15%;
    h2 {
        width: 100%;
        text-align: center;
        @include content-size(3rem);
    }
    a {
        width: 40%;
        height: 35%;
        margin: 2%;
        border-radius: 2rem;
        box-shadow: 0px 0px 20px 4px lightgrey;
        overflow: hidden;
        color: black;
        text-decoration: none;
        position: relative;
        @include mobile-only() {
            width: 90%;
        }
        img {
            max-width: 100%;
            max-height: 80%;
            z-index: 1;
        }
        &:hover {
            img {
                opacity: .5;
            }
        }
        .new {
            display: inline-block;
            @include content-size(1.5rem);
            background-color: $clr-tertiary;
            position: absolute;
            right: 40px;
            top: 40px;
            z-index: 0;
            padding: 1%;
            border-radius: .5rem;
            @if (lightness($clr-tertiary) < 50%) {
                color: lighten($clr-tertiary, 50%);
            }
            @else {
                color: darken($clr-tertiary, 40%);
            }
        }
        h3,
        p {
            margin-left: 3%;
        }
        article {
            position: relative;
        }
        .ico {
            position: absolute;
            right: 20px;
            top: 20px;
            height: 30px;
            width: 30px;
            @include mobile-only() {
                height: 50px;
                width: 50px;
            }
        }
        .--liked {
            opacity: 0;
            transition: 500ms;
            &:hover {
                opacity: 1;
            }
        }
    }
}

footer {
    background-color: $clr-footer;
    color: white;
    padding: 1% 1% 1% 3%;
    @include content-size(1rem);
    a {
        text-decoration: none;
        color: white;
    }
    h2 {
        font-family: 'shrikhand', Arial, Helvetica, sans-serif;
        font-style: normal;
        @include content-size(2rem);
    }
    ul {
        padding-left: 0;
    }
    li {
        list-style-type: none;
        padding: 8px;
    }
}