@font-face {
  font-family: 'shrikhand';
  src: url("../fonts/Shrikhand-Regular.eot");
  src: url("../fonts/Shrikhand-Regular.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'robotoregular';
  src: url("../fonts/Roboto-Regular-webfont.eot");
  src: url("../fonts/Roboto-Regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-Regular-webfont.woff") format("woff"), url("../fonts/Roboto-Regular-webfont.ttf") format("truetype"), url("../fonts/Roboto-Regular-webfont.svg#robotoregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

html {
  font-size: 18px;
}

@media screen and (orientation: portrait) {
  html {
    font-size: 30px;
  }
}

body {
  font-family: 'robotoregular', Arial, Helvetica, sans-serif;
  margin: 0;
}

header {
  width: 100%;
  height: 10%;
  -webkit-box-shadow: 0px 0px 20px 4px lightgrey;
          box-shadow: 0px 0px 20px 4px lightgrey;
}

h1 {
  font-family: 'shrikhand', Arial, Helvetica, sans-serif;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 1%;
  padding-bottom: 1%;
  /* sets font size and icons size adapts automatically */
  font-size: 3rem;
}

h1 .ico {
  display: inline-block;
  vertical-align: middle;
  height: 4.5rem;
  width: 4.5rem;
}

svg {
  fill: currentColor;
}

section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}

@media screen and (orientation: portrait) {
  section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.intro {
  text-align: center;
  margin-bottom: 10%;
}

.intro h2 {
  /* sets font size and icons size adapts automatically */
  font-size: 3.5rem;
  margin: 5%;
}

.intro h2 .ico {
  display: inline-block;
  vertical-align: middle;
  height: 5.25rem;
  width: 5.25rem;
}

@media screen and (orientation: portrait) {
  .intro h2 {
    /* sets font size and icons size adapts automatically */
    font-size: 2rem;
  }
  .intro h2 .ico {
    display: inline-block;
    vertical-align: middle;
    height: 3rem;
    width: 3rem;
  }
}

.intro p {
  /* sets font size and icons size adapts automatically */
  font-size: 2rem;
  font-weight: bold;
  margin: 5%;
}

.intro p .ico {
  display: inline-block;
  vertical-align: middle;
  height: 3rem;
  width: 3rem;
}

@media screen and (orientation: portrait) {
  .intro p {
    /* sets font size and icons size adapts automatically */
    font-size: 1rem;
    font-weight: normal;
  }
  .intro p .ico {
    display: inline-block;
    vertical-align: middle;
    height: 1.5rem;
    width: 1.5rem;
  }
}

.btn {
  margin: 5%;
  display: inline-block;
  color: white;
  cursor: pointer;
  /* sets font size and icons size adapts automatically */
  font-size: 1.5rem;
  padding: 1.85rem 3rem;
  border-radius: 10rem;
  background: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), to(#9356DC));
  background: linear-gradient(#FF79DA, #9356DC);
}

.btn .ico {
  display: inline-block;
  vertical-align: middle;
  height: 2.25rem;
  width: 2.25rem;
}

.btn:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(#ff93e1), to(#a16be0));
  background: linear-gradient(#ff93e1, #a16be0);
}

@media screen and (orientation: portrait) {
  .btn {
    /* sets font size and icons size adapts automatically */
    font-size: 1.2rem;
    padding: 1.3rem 2rem;
  }
  .btn .ico {
    display: inline-block;
    vertical-align: middle;
    height: 1.8rem;
    width: 1.8rem;
  }
}

nav {
  background-color: white;
  border-top: 2px solid #9356DC;
  border-bottom: 2px solid #9356DC;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  /* sets font size and icons size adapts automatically */
  font-size: 1rem;
}

nav .ico {
  display: inline-block;
  vertical-align: middle;
  height: 1.5rem;
  width: 1.5rem;
}

@media screen and (orientation: portrait) {
  nav {
    border: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

nav h2 {
  padding-left: 2%;
  margin: 1%;
  /* sets font size and icons size adapts automatically */
  font-size: 1.5rem;
}

nav h2 .ico {
  display: inline-block;
  vertical-align: middle;
  height: 2.25rem;
  width: 2.25rem;
}

@media screen and (orientation: portrait) {
  nav h2 {
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
}

nav ol {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0;
  width: 80%;
  height: 100%;
  margin: 1%;
}

@media screen and (orientation: portrait) {
  nav ol {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }
}

nav li {
  display: inline-block;
  padding: 1% 1%;
  width: 275px;
  white-space: nowrap;
}

nav li span {
  display: inline-block;
  margin-right: 5%;
  background-color: #9356DC;
  border-radius: 50%;
  text-align: center;
  height: 1.5rem;
  width: 1.5rem;
  color: white;
}

@media screen and (orientation: portrait) {
  nav li {
    width: 70%;
    -webkit-box-shadow: 0px 0px 20px 4px lightgrey;
            box-shadow: 0px 0px 20px 4px lightgrey;
    padding: 1.5rem 2rem;
    border-radius: 1.5rem;
    margin: 2%;
    font-weight: bold;
  }
  nav li span {
    background-color: #9356DC;
    border-radius: 50%;
    text-align: center;
    height: 1.5rem;
    width: 1.5rem;
    color: white;
    font-weight: normal;
    position: absolute;
    left: 6%;
  }
}

nav .--activestep {
  background-color: #e4d5f6;
  border-radius: 1rem;
}

nav .--activestep svg {
  fill: #9356DC;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 15%;
}

main h2 {
  width: 100%;
  text-align: center;
  /* sets font size and icons size adapts automatically */
  font-size: 3rem;
}

main h2 .ico {
  display: inline-block;
  vertical-align: middle;
  height: 4.5rem;
  width: 4.5rem;
}

main a {
  width: 40%;
  height: 35%;
  margin: 2%;
  border-radius: 2rem;
  -webkit-box-shadow: 0px 0px 20px 4px lightgrey;
          box-shadow: 0px 0px 20px 4px lightgrey;
  overflow: hidden;
  color: black;
  text-decoration: none;
  position: relative;
}

@media screen and (orientation: portrait) {
  main a {
    width: 90%;
  }
}

main a img {
  max-width: 100%;
  max-height: 80%;
  z-index: 1;
}

main a:hover img {
  opacity: .5;
}

main a .new {
  display: inline-block;
  /* sets font size and icons size adapts automatically */
  font-size: 1.5rem;
  background-color: #99E2D0;
  position: absolute;
  right: 40px;
  top: 40px;
  z-index: 0;
  padding: 1%;
  border-radius: .5rem;
  color: #278870;
}

main a .new .ico {
  display: inline-block;
  vertical-align: middle;
  height: 2.25rem;
  width: 2.25rem;
}

main a h3,
main a p {
  margin-left: 3%;
}

main a article {
  position: relative;
}

main a .ico {
  position: absolute;
  right: 20px;
  top: 20px;
  height: 30px;
  width: 30px;
}

@media screen and (orientation: portrait) {
  main a .ico {
    height: 50px;
    width: 50px;
  }
}

main a .--liked {
  opacity: 0;
  -webkit-transition: 500ms;
  transition: 500ms;
}

main a .--liked:hover {
  opacity: 1;
}

footer {
  background-color: #353535;
  color: white;
  padding: 1% 1% 1% 3%;
  /* sets font size and icons size adapts automatically */
  font-size: 1rem;
}

footer .ico {
  display: inline-block;
  vertical-align: middle;
  height: 1.5rem;
  width: 1.5rem;
}

footer a {
  text-decoration: none;
  color: white;
}

footer h2 {
  font-family: 'shrikhand', Arial, Helvetica, sans-serif;
  font-style: normal;
  /* sets font size and icons size adapts automatically */
  font-size: 2rem;
}

footer h2 .ico {
  display: inline-block;
  vertical-align: middle;
  height: 3rem;
  width: 3rem;
}

footer ul {
  padding-left: 0;
}

footer li {
  list-style-type: none;
  padding: 8px;
}
/*# sourceMappingURL=style.css.map */