@font-face {
    font-family: 'shrikhand';
    src: url('../fonts/Shrikhand-Regular.eot');
    src: url('../fonts/Shrikhand-Regular.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'robotoregular';
    src: url('../fonts/Roboto-Regular-webfont.eot');
    src: url('../fonts/Roboto-Regular-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/Roboto-Regular-webfont.woff2') format('woff2'), url('../fonts/Roboto-Regular-webfont.woff') format('woff'), url('../fonts/Roboto-Regular-webfont.ttf') format('truetype'), url('../fonts/Roboto-Regular-webfont.svg#robotoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

$clr-primary: #9356DC;
$clr-secondary: #FF79DA;
$clr-tertiary: #99E2D0;
$clr-footer: #353535;
@mixin content-size($size) {
    /* sets font size and icons size adapts automatically */
    font-size: $size;
    .ico {
        display: inline-block;
        vertical-align: middle;
        height: $size*1.5;
        width: $size*1.5;
    }
}

body {
    font-size: 18px;
    font-family: 'robotoregular', Arial, Helvetica, sans-serif;
    margin: 0;
}

header {
    width: 100%;
    box-shadow: 0 8px 10px grey;
}

h1 {
    font-family: 'shrikhand', Arial, Helvetica, sans-serif;
    text-align: center;
    margin-top: 0;
    padding-top: 1%;
    padding-bottom: 1%;
    @include content-size(3rem);
}

svg {
    fill: currentColor;
    &:hover {
        fill: $clr-primary;
    }
}

.intro {
    margin-left: 30%;
    text-align: center;
    min-height: 100%;
    h2 {
        @include content-size(3.5rem);
        margin: 5%;
    }
    p {
        @include content-size(2rem);
        font-weight: bold;
        margin: 5%;
    }
}

.btn {
    margin: 5%;
    display: inline-block;
    color: white;
    cursor: pointer;
    @include content-size(1.5rem);
    padding: 1.85rem 3rem;
    border-radius: 10rem;
    background: linear-gradient($clr-secondary, $clr-primary);
}

nav {
    background-color: white;
    max-width: fit-content;
    min-width: 20%;
    position: fixed;
    left: 0px;
    top: 120px;
    border: 2px solid $clr-primary;
    @include content-size(1.2rem);
    padding-right: 2%;
    padding-bottom: 2%;
    h2 {
        margin-left: 10%;
        @include content-size(2rem);
    }
    a {
        text-decoration: none;
        color: black;
    }
    li {
        display: block;
        margin: 3%;
        padding: 2%;
        box-shadow: 2px 5px 5px grey;
        border-radius: .5rem;
    }
}

main {
    margin-left: 30%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    h2 {
        width: 100%;
        text-align: center;
        @include content-size(3rem);
    }
    a {
        width: 40%;
        height: 35%;
        margin: 2%;
        border-radius: 2rem;
        box-shadow: 0px 0px 20px 4px lightgrey;
        overflow: hidden;
        color: black;
        text-decoration: none;
        position: relative;
        img {
            max-width: 100%;
            max-height: 80%;
            z-index: 1;
        }
        .new {
            display: inline-block;
            @include content-size(1.5rem);
            background-color: $clr-tertiary;
            position: absolute;
            right: 40px;
            top: 40px;
            z-index: 0;
            padding: 1%;
            border-radius: .5rem;
            @if (lightness($clr-tertiary) < 50%) {
                color: lighten($clr-tertiary, 50%);
            }
            @else {
                color: darken($clr-tertiary, 40%);
            }
        }
    }
    h3,
    p {
        margin-left: 3%;
    }
    article {
        position: relative;
    }
    .heart {
        position: absolute;
        right: 20px;
        top: 20px;
        height: 30px;
        width: 30px;
    }
}

footer {
    background-color: $clr-footer;
    color: white;
    padding: 1% 1% 1% 3%;
    @include content-size(1rem);
    a {
        text-decoration: none;
        color: white;
    }
    h2 {
        font-family: 'shrikhand', Arial, Helvetica, sans-serif;
        font-style: normal;
        @include content-size(2rem);
    }
    ul {
        padding-left: 0;
    }
    li {
        list-style-type: none;
        padding: 8px;
    }
}